*.rbc
capybara-*.html
db/*.sqlite3*
db/*.sqlite3-journal
db/*.sqlite3-[0-9]*
public/system
coverage/
!coverage/.keep
spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
log/
tmp/
!log/.keep
!tmp/.keep
!tmp/cache/.keep

# Note: It is not OK to publish secrets in repo, use figaro instead.
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# Do not commit configuration secrets in a .env file.
.env
.env.*
!.env.sample
!.env.example

## Environment normalization:
.bundle
vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules

# Use yarn.lock, not package-lock.json
package-lock.json

# Ignore precompiled javascript packs
public/packs
public/packs-test
public/assets
public/webfonts

# Ignore yarn files
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

app/assets/builds/*
!app/assets/builds/.keep

node_modules

/config/master.key
